/*
 * Molecules.Header
 */
 .header {
   position: relative;
   
    &__inner {
      display: block;
      margin: 50px auto 30px;
      padding-bottom: 15px;
      max-width: 1000px;
      border-bottom: 1px solid #ddd;
    }
 }

 .sub-heading {
  margin: 60px auto 10px;
  max-width: 1000px;
 }